// html {
//   -webkit-tap-highlight-color: rgba(0,0,0,0);
// }
//
// body {
//     font-family: $font-family-base;
//     font-size: $font-size-base;
//     line-height: $line-height-base;
//     color: $text-color;
//     background: #fff;
// }

* {
    @include box-sizing(border-box);
}
*:before,
*:after {
    @include box-sizing(border-box);
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}

.affix {
    top: 20px;
    width: 100%;
}

// wrapper components
.sg-panel-wrapper {
    display: flex;
    position: fixed;
    top: $nav-top-height;
    left: 0;
    width: 100%;
    height: 100%;
}
.sg-panel-content {
    flex: 1 1 auto;
    position: relative;
    width: calc(100% - #{$nav-width});
}
.sg-panel-navigation {
    flex: 1 1 auto;
    position: relative;
    width: $nav-width;
    background-color: #000;
    overflow: auto;
    padding: 1rem 0;
    @media(max-width: #{$nav-mobile-bp}) {
        position:absolute;
        right:0;
        height: 100%;
    }
}
.sg-iframe-content,
.sg-iframe-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.sg-row {
    position: relative;
}

.sg-section-wrap {
    // padding: 0px 15px;
    position: relative;
    margin-bottom: 2rem;
    @include clearfix();
}

.sg-section {
    background-color: #fff;
    // border: 1px solid darken($gray-lighter, 10%);
    // border-radius: 4px;
    position: relative;
    margin-top: 1rem;
}

.sg-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    $margin: 20px;
    // if we are smaller than the max minus the margin
    $margin_max: 1024px + ($margin * 2);
    @media (max-width: $margin_max) {
        margin-left: $margin;
        margin-right: $margin;
    }
}

.sg-intro {
    overflow: hidden;
    // &.sg-depth-0 {
    //     background-color: #333;
    // }
    // &.sg-depth-1 {
    //     background-color: #444;
    // }
    // &.sg-depth-2 {
    //     background-color: #555;
    // }
    // &.sg-depth-3 {
    //     background-color: #666;
    // }
    // &.sg-depth-4 {
    //     background-color: #777;
    // }
    // &.sg-depth-5 {
    //     background-color: #888;
    // }
    // &.sg-depth-6 {
    //     background-color: #999;
    // }
}
.sg-modifier-intro {
    padding: .5rem 1rem;
    background-color: #ddd;
    border-top: 2px solid #888;
    text-align: right;
    overflow: hidden;
}
.sg-modifier-name {
    float: left;
}
.sg-modifier-description {
    color: #333;
}
.sg-parameters {
    background-color: #eee;
    margin: 0;
    font-size: $font-size-base;

    ul {
        display: table;
        padding: 1em;
        width: 100%;
        // font-size: 14px;
        &:before {
            content: 'Variables';
            display: block;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: .5em;
            color: #959595;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    li {
        display: table-row;
        &:last-child {
            em, span {
                border: 0;
            }
        }
    }
    em {
        font-weight: bold;
        font-style: normal;
        display: table-cell;
        padding-right: 1em;
        padding-bottom: 0.25em;
        padding-top: 0.25em;
        border-bottom: 1px solid #ddd;
        width: 1%;
        white-space: nowrap;
    }
    span {
        display: table-cell;
        padding-bottom: 0.25em;
        padding-top: 0.25em;
        border-bottom: 1px solid #ddd;
    }
}
.sg-subsection-intro {
    padding: .5rem 1rem;
    background-color: #888;
    color: #fff;
    border-radius: $border-radius-base $border-radius-base 0 0;
    h3 {
        margin-top:0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: .05em;

    }
}
.sg-title {
    font-size: 18px;
    margin: 0;
    padding: .5rem 1rem;
    background-color: #333;
    color: #fff;
    border-radius: $border-radius-base $border-radius-base 0 0;
    &-0 {
        font-size: 36px;
    }
    &-1 {
        font-size: 30px;
    }
    &-2 {
        font-size: 24px;
    }
    &-3 {
        font-size: 24px;
        font-weight: normal;
    }
    &-4 {
        font-size: 20px;
    }
    &-5 {
        font-size: 20px;
        font-weight: normal;
    }
    &-6 {
        font-size: 18px;
        font-weight: normal;
    }
}
.sg-reflink {
    color: inherit;
    position:relative;
    &:hover, :target & {
        color: inherit;
        text-decoration: none;
        &:after {
            content: '#';
            // position: absolute;
            // margin-left: -.65em;
            opacity: .5;
        }
    }
}
.sg-description {
    overflow: hidden;
    background-color: #ddd;
    padding: 0.5rem 1rem;
    font-size: $font-size-base;

    p {
        margin-bottom: 0.5em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    code {
        background-color: #eee;
        padding: 0.25em;
    }
}
.sg-100vw {
    margin-left: calc((100% - 100vw) / 2);
    margin-right: calc((100% - 100vw) / 2);
}

.sg-example {
    // background-color: #fbfcfd;
    padding: 2rem 0;
    position: relative;
}
.sg-example-label {
    display: block;
    position: relative;
    padding: .5rem 1rem;
    background-color: #ccc;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.sg-code {
    display: none;
    &.sg-code--active {
        display: block;
    }

    pre.prettyprint {
        border-top: none;
        padding: 1rem;
        border-radius: 0;
        margin: 0;
        border: 0;
        // background-color: #ddd;
    }
}

.sg-example--buttons {

    position:absolute;
    right:0;
    top:0;
    a {
        display: inline-block;
        padding: .65rem 1rem;
        height: 100%;
        background-color: #ccc;
        font-size: 12px;
        line-height:1;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #ddd;
        cursor: pointer;
        background-color: #666;
        border: 0;
        &:hover {
            background-color: #444;
        }
    }
}

.sg-swatch-grid {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(2, 1fr);
    @media(min-width: 480px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media(min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media(min-width: 960px) {
        grid-template-columns: repeat(5, 1fr);
    }
}
.sg-swatch {
    margin-bottom: 15px;

    .sg-swatch__color {
        min-height: 80px;
        border-left: 1px solid $navbar-inverse-color;
        border-right: 1px solid $navbar-inverse-color;
        border-top: 1px solid $navbar-inverse-color;
        border-radius: 4px 4px 0 0;
    }
    .sg-swatch__var {
        text-align: center;
        border-left: 1px solid $navbar-inverse-color;
        border-right: 1px solid $navbar-inverse-color;
        border-bottom: 1px solid $navbar-inverse-color;
        border-radius: 0 0 4px 4px;

        p {
            margin-top: 0px;
            padding-top: 1em;
        }
    }
}
