$color-nav: #000 !default;
$color-nav-bkgnd: #ccc !default;
$color-nav-page-bkgnd: #333 !default;
$color-nav-page: #fff !default;
$color-nav-mod: #666 !default;
$color-border: #ccc;
$color-light-bkgnd: #eee;
