.sg-nav {
    list-style-type:none;
    margin: 0;
    padding: 0;
	li {
        margin:0;
        padding:0;
        font-weight: bold;
        font-size: $font-size-base * 1.5;
        border-top: 1px solid $gray;
        &:first-child {
            border-top:none;
        }
		a {
            display: block;
            padding: .125rem 1rem;
            color: lighten($link-color, 15%);
            &:hover {
                color: $link-color;
            }
            &.active {
                background-color: $gray;
                color: #fff;
            }
		}
	}
}

.sg-subnav {
    margin: 0;
    padding: 0;
    list-style-type:none;
    li {
        border-top: none;
    }
    > li {
        font-weight: bold;
        font-size: $font-size-base;
        // text-transform: uppercase;
        // letter-spacing: .07em;
        font-size: $font-size-base * 1.15;
        margin: 0;
        padding: 0;
        .sg-subnav {
            > li {
                text-transform: none;
                font-weight: normal;
                letter-spacing: 0;
                font-size: $font-size-base;
                .sg-subnav a {
                    padding-left: 1.75rem;
                    .sg-subnav a {
                        padding-left: 2.25rem;
                        .sg-subnav a {
                            padding-left: 3rem;
                        }
                    }
                }
            }
        }
    }
}
.sg-modnav {
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: none;
    .open &,
    .active & {
        display: block;
    }
    li {
        margin: 0;
        padding: 0;
        font-family: $font-family-monospace;
        font-size: $font-size-base * .9;
        font-weight: normal;
        a {
            color: $gray-light;
        }
    }
}

.sg-section-nav {
    overflow: hidden;
    height: $nav-top-height;
    font-size: 14px;
    line-height:1;
    background-color: $gray-lighter;
    border-bottom: 1px solid $gray-dark;

}
.sg-width {
    width: 100vw;
    padding: 10px;
    .sg-menu-is-open & {
        width: calc(100vw - #{$nav-width} + 1px);
        border-right: 1px solid $gray-light;
        @media(max-width: #{$nav-mobile-bp}) {
            width: 100vw;
            border-right: none;

        }
    }
}
.sg-menu-toggle {
    float: right;
    padding: 10px;
    svg {
        width: 1em;
        height: 1em;
    }
    &:hover svg {
        fill: $link-color;
    }
}
