@use "../settings/layout-settings";

.sg-swatch {

    display: inline-block;
    margin-bottom: 1em;
    margin-right: 10px;
    vertical-align: top;
    width: layout-settings.$swatch-width;

    &__list {
        margin-top: 1rem;
    }

    &__color {
        height: layout-settings.$swatch-height;
        width: layout-settings.$swatch-width;
    }
}
